@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-reveal {
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
  }
.cell-reveal.correct {
animation-name: revealCorrectCharCell;
}
